<div class="container">
    <div class="content-wraper">
        <div class="registration">
            <h1>ВХІД В АКАУНТ</h1>
            <form action="submit">
                <input type="text">
                <input type="password">
          
                <button class="btn enter-btn">Увійти</button>
                <p class="dev-txt">або</p>
                <button class="btn google-btn">Продовжити з Google</button>
            </form>
        </div>
        <div class="greeting-text">
            <h2 class="main-head">Ласкаво просимо на наш веб-портал для творчих душ! </h2>
            <p class="descr-txt">Тут у вас є унікальна можливість поділитися своєю творчістю зі світом та знайти однодумців, які оцінять ваші старання.</p>
            <p class="descr-txt">Чи мрієте ви поділитися своєю музикою, авторськими піснями або чимось цілком новим? Наша платформа - ідеальне місце для вашої творчості. Завантажуйте свої роботи, діліться своїми історіями та досвідом, і отримуйте фідбек від нашої активної спільноти.</p>
            <p class="descr-txt">Але це не все! Ви також можете знайти та відгукнутися на цікаві оголошення, розміщені іншими учасниками: чи це пошук напарника для музичного проекту, чи вокаліста для вашої групи, чи можливість взяти участь у іншому проекті - у нас є розділ спеціально для цього. </p>
            <p class="descr-txt">На нашому сайті ви зможете:
                Виставити свою творчість на огляд спільноти.
                Знайти людей з аналогічними інтересами та почати співпрацю.
                Залишити відгук на оголошення та знайти потрібних вам партнерів.</p>
            <p class="descr-txt">Нехай ваша творчість займає центральне місце на нашому порталі! Приєднуйтеся до нашої спільноти та відкривайте для себе безмежний світ творчості та можливостей!</p>
        </div>
    </div>
</div>